nav {
  background-color: #e4c59e;
  color: #481e14;
}

a {
  text-decoration: none;
  color: #481e14;
}

nav > div > h1 {
  padding: 1rem;
}

nav > div > ul {
  list-style: none;
  padding: 1rem;
}

nav > div > ul > li {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav > div > ul {
    display: flex;
    flex-direction: row;
  }

  nav > div > ul > li {
    margin: 0 1rem;
  }
}
